{% put seo %}
    <title>{{ this.page.seo_title ?: this.page.title }}</title>
    <meta name="title" content="{{ this.page.seo_title ?: this.page.title }}">
    <meta name="keywords" content="{{ this.page.seo_meta_keywords ?: this.page.meta_keywords }}">
    <meta name="description" content="{{ html_limit(this.page.seo_meta_description ?: this.page.meta_description, 150) }}">
{% endput %}


